### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Notes
* This notebook will be used to show example code that is different from the Trilogy provided solutions. These solutions may or may not be an improvement upon their solutions and are meant to demonstrate different techniques that can be used.
* I'll use DataFrame instead of data frame when speaking about DataFrames. I'm doing this because pandas keyword for data frames is DataFrame. See ?pd.DataFrame() for more information

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Import purchase data csv, pandas natively builds this as a DataFrame for us.
purchase_data = pd.read_csv("purchase_data.csv")

In [2]:
type(purchase_data) # Notice how it's of type pandas DataFrame

pandas.core.frame.DataFrame

<div class="alert alert-success">
<h3><b>Part 1</b>: Player Count</h3>

<ul>
  <li>Display the total number of players</li>
</ul>
</div>

This question doesn't ask me to do any formatting or to save the results.
As such, I will only create an output.
Placing this information into a DataFrame is also unecessary.
This answer takes what is presented in the Trilogy solution notebook and 'simplifies' it.
I do this by using the chaining method, which is a 'preferred' functionality in pandas

In [3]:
# Using chaining methodology:
pd.DataFrame({"Total Players": 
              [purchase_data.loc[:, ["Gender", "SN", "Age"]]
               .drop_duplicates()
               .count()[0]]})

   Total Players
0            576

This next cell is an alternative solution. 
I'll save this data because I'll use it again.
This helps reduce code redundancy

In [4]:
total_players = purchase_data.loc[:, "SN"].drop_duplicates().count()
total_players # To produce output

576

<div class="alert alert-success">
<h3><b>Part 2</b>: Purchasing Analysis (Total)</h3>

<ul>
  <li>Run basic calculations to obtain number of unique items, average price, etc.</li>
  <li>Create a summary data frame to hold the results</li>
  <li>Optional: give the displayed data cleaner formatting, I won't be formatting this</li>
  <li>Display the summary data frame</li>
</ul>
</div>

In [5]:
# create a summary DataFrame using: totals (unique items) and purchase sum, counts, and mean
summary = pd.DataFrame({"Number of Unique Items": len(purchase_data["Item ID"].unique()),
                        "Total Revenue in USD": [purchase_data["Price"].sum()],
                        "Number of Purchases": [purchase_data["Price"].count()],
                        "Average Price in USD": purchase_data["Price"].mean()}).round(2)
summary

,Average Price in USD,Number of Purchases,Number of Unique Items,Total Revenue in USD
0,3.05,780,183,2379.77

I run the calculations from the original dataframe.
Then build the columns from these calculations using a dictionary
in the form of key : value (column : data).
The question asks to create a DataFrame so I use pd.DataFrame

For the formatting I round the numbers to 2 decimals.
I don't include $ but instead name my columns descriptively.
Since we're dealing with numbers I keep my numbers as data type int and/or float
Using two decimals makes sense in dealing with money
We also know the columns that deal with money and the kind of values
If you ever took college science classes: LABEL YOUR UNITS!

<div class="alert alert-success">
<h3><b>Part 3</b>: Gender Demographics</h3>

<ul>
  <li>Percentage and Count of Male Players</li>
  <li>Percentage and Count of Female Players</li>
  <li>Percentage and Count of Other / Non-Disclosed</li>
  <li>Display the demographics</li>
</ul>
</div>

_To assist in following along with this next code segment:_
* I'm creating a DataFrame of the data to format it as a DataFrame
* I'm building the DataFrame from using key:value format (dictionary)
* The keys will be used as column names, the value(s) will be my data
* I slice my original data on SN and Gender then drop any duplicates
 * This performs only on columns that have duplicate data in both columns (I believe)
* I then slice further only on 'Gender' and take those value counts
* In the second iteration I then divide by total players, multiply by 100 to get the percent
* I save this DataFrame because I'll reuse it shortly after...

In [6]:
# Calculate the Number of players and their Percentage by Gender
gender_demographics = pd.DataFrame({"Total Count": 
                                    purchase_data.loc[:, ['SN', "Gender"]].drop_duplicates()
                                    ['Gender'].value_counts(),
              
                                    "Percentage of Players": 
                                    (purchase_data.loc[:, ['SN', "Gender"]].drop_duplicates()
                                     ['Gender'].value_counts()
                                     / total_players * 100)}).round(2)
gender_demographics

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

The above code cell is a single line format. I am, however, repeating code.
This can reduce legability and increase redundancy.

We can see how I reused my first line of code: total_players.

The output below will be same as above.
This is an example of single line code versus multi line code.
I think the cell below is more legible and reduces redundancy,
__see what you think and let me know!__

In [7]:
gender_counts = purchase_data.loc[:, ['SN', "Gender"]].drop_duplicates()['Gender'].value_counts()

gender_demographics = pd.DataFrame({"Total Count": gender_counts,
                                    "Percentage of Players": gender_counts / total_players * 100}).round(2)

<div class="alert alert-success">
<h3><b>Part 4</b>: Purchasing Analysis (Gender)</h3>

<ul>
  <li>Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender</li>
  <li>Create a summary data frame to hold the results</li>
  <li>Optional: give the displayed data cleaner formatting</li>
    <li>Display the summary data frame</li>
</ul>
</div>

In [8]:
# Rinse and repeat from prior exercises
gender_data = pd.DataFrame({"Purchase Count": purchase_data.groupby(["Gender"]).count()["Price"], 
                            "Average Purchase Price (USD)": purchase_data.groupby(["Gender"]).mean()["Price"], 
                            "Total Purchase Value (USD)": purchase_data.groupby(["Gender"]).sum()["Price"], 
                            "Normalized Totals (USD)": 
                            purchase_data.groupby(["Gender"]).sum()["Price"]
                            / gender_demographics['Total Count']}).round(2)
gender_data

,Average Purchase Price (USD),Normalized Totals (USD),Purchase Count,Total Purchase Value (USD)
Gender,,,,
Female,3.20,4.47,113,361.94
Male,3.02,4.07,652,1967.64
Other / Non-Disclosed,3.35,4.56,15,50.19

I won't go into what I'm doing with this code, it's a slightly more elaborate form of what I've already done.

### _Stands on soap box:_

I dislike changing format from an integer or float into a string or object. The data that I'm working with is numbers and I think at all times it should remain numbers. An exception to this is if we're simply outputting information visually. Then I think it's fine to change the type to display it well. Because I am creating this as a new DataFrame I WILL NOT change the data type so in any future use of this DataFrame I know what to expect from the values (numbers).

## Now the fun begins... but first:
__In this next section I use np.inf__:
* __What is it__: it's 'infinity' thats built into numpy

* __Why do I use it__: It's physically smaller on memory, albeit barely, than using an integer

 * __Also__, this way I catch ALL numbers above 40 (up to and including infinity).
 
When dealing with age as we are with this question, this isn't really a problem. I am over engineering this solution by doing this.

In [9]:
#getsizeof will measure the physical memory size of the object in bytes
from sys import getsizeof

# Demo:
print(getsizeof(999))
print(getsizeof(np.inf))

28
24

<div class="alert alert-success">
<h3><b>Part 5</b>: Age Demographics</h3>
<ul>
    <li>Establish bins for ages</li>
    <li>Categorize the existing players using the age bins. Hint: use pd.cut()</li>
    <li>Calculate the numbers and percentages by age group</li>
    <li>Create a summary data frame to hold the results</li>
    <li>Optional: round the percentage column to two decimal points</li>
    <li>Display Age Demographics Table</li>
</ul>
</div>

### Notes about using pd.cut(): 


There is a 'right' parameter that defines the functionality of the rightmost edge, whether it is included or not. The default setting for this parameter is True. What this means is that our bins look like:

<p style="text-align: center;"> `(0, 9], (9, 14],...(39, np.inf]`</p>

* For the less familiar with interval notation in mathematics: The notation `[ a , c )` is used to indicate an interval from a to c that is inclusive of `a` but exclusive of `c`. That is, `[ 5 , 12 )` would be the set of all real numbers between 5 and 12, including 5 but not 12. The numbers may come as close as they like to 12, including 11.999 and so forth (with any finite number of 9s), but 12.0 is not included.

The important thing to note with this interval style is that if we had created bins like: 

<p style="text-align: center;"> `(0, 10], (10, 15], ..., (40, np.inf]` </p>

Then we actually have a group that is all values including and below 10, all values greater than 40 but not including 40. By looking that the labels that we have we actually want all ages lower than 10 (not incuding 10), and all ages 40 or older. Some students changed the bins and this caused their answers to diverage from the solutions. This functionality of pd.cut is what caused that divergence.

# Include a version using left alignment

# Establish the bins 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, np.inf]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] # 8 total bins

# Categorize the existing players using the age bins
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players * 100
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

# Minor Data Munging
age_demographics = age_demographics.round(2)

# Display Age Demographics Table
age_demographics.sort_index()

In [10]:
def my_agg(x):
    names = {
        'Amount mean': x['Amount'].mean(),
        'Amount std':  x['Amount'].std(),
        'Amount range': x['Amount'].max() - x['Amount'].min(),
        'Score Max':  x['Score'].max(),
        'Score Sum': x['Score'].sum(),
        'Amount Score Sum': (x['Amount'] * x['Score']).sum()}

    return pd.Series(names, index=['Amount range', 'Amount std', 'Amount mean',
                                   'Score Sum', 'Score Max', 'Amount Score Sum'])

In [11]:
.assign(Sex=lambda df: df['Sex'].replace({'female': 1, 'male': 0}),
               Age=lambda df: pandas.cut(df['Age'].fillna(df.Age.median()),
                                         bins=[df.Age.min(), 18, 40, df.Age.max()],
                                         labels=['Underage', 'Young', 'Experienced']))

SyntaxError: invalid syntax (<ipython-input-11-5c99ac4f32d9>, line 1)

In [39]:
# Notice the bin intervals for pd.cut(right=True)
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_GroupBy = purchase_data.drop_duplicates('SN').groupby(pd.cut(purchase_data.drop_duplicates('SN').Age, 
                                                                 bins = age_bins, 
                                                                 labels = group_names))

In [40]:
age_demo = pd.DataFrame(data={'player_totals' : age_GroupBy.SN.count(),
                             'pecent_of_players' : ((age_GroupBy.SN.count() / total_players) * 100).round(2)})
age_demo

       pecent_of_players  player_totals
Age
<10                 2.95             17
10-14               3.82             22
15-19              18.58            107
20-24              44.79            258
25-29              13.37             77
30-34               9.03             52
35-39               5.38             31
40+                 2.08             12

### pd.cut(right=False) example

In [37]:
# Notice the bin intervals for pd.cut(right=False)
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, np.inf]

age_GroupBy = purchase_data.drop_duplicates('SN').groupby(pd.cut(purchase_data.drop_duplicates('SN').Age, 
                                                                 right=False,
                                                                 bins = age_bins, 
                                                                 labels = group_names))

In [38]:
age_demo = pd.DataFrame(data={'player_totals' : age_GroupBy.SN.count(),
                             'pecent_of_players' : ((age_GroupBy.SN.count() / total_players) * 100).round(2)})
age_demo

       pecent_of_players  player_totals
Age
<10                 2.95             17
10-14               3.82             22
15-19              18.58            107
20-24              44.79            258
25-29              13.37             77
30-34               9.03             52
35-39               5.38             31
40+                 2.08             12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
age_GroupBy.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77
46,46,Yasrisu92,27,Male,102,Avenger,3.44
49,49,Iaralrgue74,33,Male,110,Suspension,1.44
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56
81,81,Heudai45,8,Female,174,Primitive Blade,3.47
187,187,Tyeurith29,8,Male,11,Brimstone,3.65
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39
341,341,Hiasurria41,41,Male,71,Demise,1.61

In [ ]:
# Bin the Purchasing Data
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# Run basic calculations
age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Purchase Total per Person)
normalized_total = age_purchase_total / age_demographics["Total Count"]

# Convert to DataFrame
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})

# Minor Data Munging
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Avg Total Purchase per Person"] = age_data["Normalized Totals"].map("${:,.2f}".format)
age_data = age_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Age Table
age_data

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Basic Calculations
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Convert to DataFrame
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

# Display Table
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)

# Minor Data Munging
user_sorted["Average Purchase Price"] = user_sorted["Average Purchase Price"].map("${:,.2f}".format)
user_sorted["Total Purchase Value"] = user_sorted["Total Purchase Value"].map("${:,.2f}".format)
user_sorted = user_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Display DataFrame
user_sorted.head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Extract item Data
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})

# Sort Values
item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

# Minor Data Munging
item_data_count_sorted["Item Price"] = item_data_count_sorted["Item Price"].map("${:,.2f}".format)
item_data_count_sorted["Purchase Count"] = item_data_count_sorted["Purchase Count"].map("{:,}".format)
item_data_count_sorted["Total Purchase Value"] = item_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
item_popularity = item_data_count_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_popularity.head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Item Table (Sorted by Total Purchase Value)
item_total_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

# Minor Data Munging
item_total_purchase["Item Price"] = item_total_purchase["Item Price"].map("${:,.2f}".format)
item_total_purchase["Purchase Count"] = item_total_purchase["Purchase Count"].map("{:,}".format)
item_total_purchase["Total Purchase Value"] = item_total_purchase["Total Purchase Value"].map("${:,.2f}".format)
item_profitable = item_total_purchase.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_profitable.head(5)

## This solution guide isn't meant to discourage any students based upon what they did/turned in. Rather it's to demonstrate the power of and what can be done in pandas.