### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas df frame
purchase_df = pd.read_csv(file_to_load)

#purchase_df.set_index('Gender', inplace = True)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_df.SN.count()

780

## Player Count

* Display the total number of players

In [3]:
# row count of the dataframe to display the total number of players
#len(DataFrame.unique())
# df.shape[0]
Num_Items = len(purchase_df["SN"].value_counts())
tp_df =  pd.DataFrame({"Total Players": [Num_Items]})
tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Display a statistical overview of the dfFrame
# Run basic calculations to obtain number of unique items, average price, etc.

Itemcount = len(purchase_df["Item ID"].value_counts())
#purchase_df["Number of Unique Items"] = count
#purchase_df["Number of Unique Items"] 

avg = purchase_df["Price"].mean()

PriceCount = purchase_df["Price"].count()

Rev = purchase_df["Price"].sum()

In [5]:
# Place all of the data found into a summary DataFrame
# Create a summary data frame to hold "Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"
summary_table = pd.DataFrame({"Number of Unique Items": Itemcount,
                              "Average Price": [avg], 
                              "Number of Purchases": [PriceCount], 
                              "Total Revenue": [Rev]})

#change format after calculations
#format percentage
summary_table["Average Price"]= summary_table["Average Price"].map("${:.2f}".format)

summary_table

  Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0         $3.05                  780                     183        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:

#Reduce the number of columns to only the players and their gender
reduced_df = purchase_df[["SN", "Gender"]]

genders = reduced_df.drop_duplicates("SN", keep='first', inplace=False)

# The value_counts method counts unique values in a column. Excludes NA values by default but normalize is false by default. 
#Calulate the Percentage of Players
Pcount = reduced_df["Gender"].value_counts(normalize = True) * 100 #This is correct, normalize is set to true

#Calucalate total number players by gender
Gcount = genders.groupby("Gender")["SN"].count()

#create an empty dataframe with 2 coloumns
new_df = pd.DataFrame(columns = ["Total Players", "Percentage of Players"])

#Put calculations into the empty dataframe
new_df = pd.DataFrame({"Total Count": Gcount, "Percentage of Players": Pcount})

#change format after calculations
#format percentage
new_df["Percentage of Players"]= new_df["Percentage of Players"].map("{:.2f}".format)

new_df

                      Percentage of Players  Total Count
Female                                14.49           81
Male                                  83.59          484
Other / Non-Disclosed                  1.92           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Create a summary data frame to hold "Purchase Count", "Average Purchase Price", "Total Purchase Value" and

In [7]:
#Reduce the number of columns to only the players and their gender
reduced_df = purchase_df[["SN", "Gender", "Price"]]

In [8]:
genders = reduced_df["Gender"].value_counts(ascending=True)
genders

Other / Non-Disclosed     15
Female                   113
Male                     652
Name: Gender, dtype: int64

In [9]:
avg = reduced_df["Gender"].value_counts("Price") * 100 #This is correct, normalize is set to true
avg

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [10]:
reduced_df.drop_duplicates('SN').groupby('Gender').count()

                        SN  Price
Gender
Female                  81     81
Male                   484    484
Other / Non-Disclosed   11     11

In [11]:
##Put calculations into the empty dataframe
new_df = pd.DataFrame(columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Price"])
new_df["Purchase Count"] = genders
new_df[ "Average Purchase Price"] = avg

#change format after calculations
#format percentage
#
#new_df["Average Purchase Price"]= new_df[["Average Purchase Price"]].map("${:.2f}".format)
new_df
#genders, avg

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Price
Other / Non-Disclosed,15,1.923077,NaN,1.923077
Female,113,14.487179,NaN,14.487179
Male,652,83.589744,NaN,83.589744

In [12]:
new_df["Average Purchase Price"]

                       Average Purchase Price  Average Purchase Price
Other / Non-Disclosed                1.923077                1.923077
Female                              14.487179               14.487179
Male                                83.589744               83.589744

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#reduce dataframe
age_df = purchase_df[["Purchase ID", "Age"]]
#age_df.Series(["SN", "Age"])



#create an empty dataframe with  coloumns
AgeDem_df =  pd.DataFrame(columns = ["Players", "Age"])
p = purchase_df.drop_duplicates("SN", keep='first', inplace=False)

#players = pcount["SN", "Age"].value_counts()
#Ages = purchase_df["Age"].sum()
AgeDem_df["Players"] = p["SN"]
AgeDem_df["Age"] = p["Age"]

#pcount = players.groupby("Age")["SN"].count()

# Figure out the minimum and maximum ages
max_age = purchase_df["Age"].max()
min_age = purchase_df["Age"].min()

max_age, min_age

(45, 7)

In [14]:
# Create bins in which to place values based upon players ages

bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, np.inf]

# Create labels for these bins
group_labels = ["< 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34",
                "35 to 39", "40+"]

In [33]:
# Place the sliced data into binsdata series and into a new column inside of the DataFrame
AgeDem_df["Age Group"] = pd.cut(AgeDem_df["Age"], bins, labels=group_labels)

In [34]:
# Create a GroupBy object based upon "Age Group"
Age_group = AgeDem_df.groupby("Age Group")

# Find how many rows fall into each bin
#COUNTS ARE NOT CORRECT!!!!
print(Age_group[["Players"]].count())
# Get the average of each column within the GroupBy object

           Players
Age Group
< 10            17
10 to 14        22
15 to 19       107
20 to 24       258
25 to 29        77
30 to 34        52
35 to 39        31
40+             12

In [30]:
age_demo = Age_group[["Players"]].count()

In [51]:
age_demo['Percents'] = round([age_demo.Players.values / age_demo.Players.sum() * 100], 2)

TypeError: type list doesn't define __round__ method

In [46]:
age_demo

           Players   Percents
Age Group
< 10            17   2.951389
10 to 14        22   3.819444
15 to 19       107  18.576389
20 to 24       258  44.791667
25 to 29        77  13.368056
30 to 34        52   9.027778
35 to 39        31   5.381944
40+             12   2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#reduce dataframe
PurchaseDem_df = purchase_df[["Purchase ID", "Age", "Price"]]

#create an empty dataframe with  coloumns
PurchAgeDem_df =  pd.DataFrame(columns = ["Purchases", "Age", "Price"])

PurchAgeDem_df["Purchases"] = purchase_df["Purchase ID"]
PurchAgeDem_df["Age"] = purchase_df["Age"]
PurchAgeDem_df["Price"] = purchase_df["Price"]
PurchAgeDem_df.head()

   Purchases  Age  Price
0          0   20   3.53
1          1   40   1.56
2          2   24   4.88
3          3   24   3.27
4          4   23   1.44

In [21]:
# Place the data series into a new column inside of the DataFrame
PurchAgeDem_df["Age Group"] = pd.cut(PurchaseDem_df["Age"], bins, labels=group_labels)
PurchAgeDem_df.head()

   Purchases  Age  Price Age Group
0          0   20   3.53  20 to 24
1          1   40   1.56       40+
2          2   24   4.88  20 to 24
3          3   24   3.27  20 to 24
4          4   23   1.44  20 to 24

In [22]:
# Create a GroupBy object based upon "Age Group"
Age_group = PurchAgeDem_df.groupby("Age Group")

# Find how many rows fall into each bin
#counts are NOT correct!!!

# Get the average of each column within the GroupBy object
Age_group[["Purchases"]].count()

           Purchases
Age Group
< 10              23
10 to 14          28
15 to 19         136
20 to 24         365
25 to 29         101
30 to 34          73
35 to 39          41
40+               13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame